.idea
/vendor
/public/files/application/*
/public/files/audio/*
/public/files/example/*
/public/files/image/*
/public/files/message/*
/public/files/model/*
/public/files/multipart/*
/public/files/text/*
/public/files/video/*
/system/inclfiles/settings.local.php
/system/logs/errors/*
/composer.phar
/system/logs/nginx_errors.log
/system/logs/mysqli.log
/system/logs/errors.log
/public/images/skidki